# vim: ft=yaml
# prometheus.yml.j2
global:
  scrape_interval: 30s
  scrape_timeout: 15s
  evaluation_interval: 15s
  external_labels:
    prom_cluster: home

rule_files:
  - "rules/*.yml"

scrape_configs:
  - job_name: 'sre-agent'
    static_configs:
      - targets: ['192.168.2.106:8001']

  - job_name: 'prometheus'
    scrape_timeout: 10s
    static_configs:
      - targets: ['localhost:9090']
        labels: {hostname: 'prometheus'}
    relabel_configs:
      # host without port
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'cadvisor'
    scrape_interval: 30s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:18080']
        labels: {hostname: 'proxmox'}
      - targets: ['192.168.2.105:18080']
        labels: {hostname: 'media'}
      - targets: ['192.168.2.106:8080']
        labels: {hostname: 'infra'}
      - targets: ['192.168.2.110:18080']
        labels: {hostname: 'jellyfin'}
      - targets: ['192.168.2.113:18080']
        labels: {hostname: 'immich'}
      - targets: ['192.168.2.115:18080']
        labels: {hostname: 'prometheus'}
      - targets: ['192.168.2.116:18080']
        labels: {hostname: 'tube-archivist'}
      - targets: ['192.168.2.117:18080']
        labels: {hostname: 'paperless'}
      - targets: ['192.168.2.119:18080']
        labels: {hostname: 'open-webui'}
      - targets: ['192.168.2.109:18080']
        labels: {hostname: 'navidrome'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'adguard'
    static_configs:
      - targets: ['192.168.2.111:9618']
    metric_relabel_configs:
      - source_labels: [user]
        regex: '100\.112\.110\.39'
        target_label: client_name
        replacement: 'Johns iPhone'
      - source_labels: [user]
        regex: '100\.117\.45\.121'
        target_label: client_name
        replacement: 'Johns MacBook Pro'
      - source_labels: [user]
        regex: '192\.168\.2\.112'
        target_label: client_name
        replacement: 'MySpeed LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.101|100\.117\.104\.102)'
        target_label: client_name
        replacement: 'Cloudflared LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.108|100\.103\.111\.45)'
        target_label: client_name
        replacement: 'Traefik LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.110|100\.116\.196\.66)'
        target_label: client_name
        replacement: 'Jellyfin LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.111|100\.108\.0\.112)'
        target_label: client_name
        replacement: 'AdGuard LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.113|100\.73\.150\.110)'
        target_label: client_name
        replacement: 'Immich LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.115|100\.108\.161\.119)'
        target_label: client_name
        replacement: 'Prometheus LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.116|100\.94\.9\.73)'
        target_label: client_name
        replacement: 'Tubearchivist LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.117|100\.100\.7\.47)'
        target_label: client_name
        replacement: 'Paperless LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.119|100\.115\.33\.32)'
        target_label: client_name
        replacement: 'Open-WebUI LXC'
      - source_labels: [user]
        regex: '(192\.168\.2\.200|100\.65\.248\.111)'
        target_label: client_name
        replacement: 'Proxmox Backup Server'
      - source_labels: [user]
        regex: '192\.168\.2\.102'
        target_label: client_name
        replacement: 'Home Assistant'
      - source_labels: [user]
        regex: '100\.69\.15\.48'
        target_label: client_name
        replacement: 'Key Server'
      - source_labels: [user]
        regex: '100\.99\.115\.121'
        target_label: client_name
        replacement: 'Proxmox'
      - source_labels: [user]
        regex: '(192\.168\.2\.104|100\.118\.76\.29)'
        target_label: client_name
        replacement: 'TrueNAS'
      - source_labels: [user]
        regex: '(192\.168\.2\.106|100\.64\.76\.3)'
        target_label: client_name
        replacement: 'Infra VM'
      - source_labels: [user]
        regex: '(192\.168\.2\.114|100\.88\.114\.14)'
        target_label: client_name
        replacement: 'Media VM'
      - source_labels: [user]
        regex: '192\.168\.2\.11'
        target_label: client_name
        replacement: 'Ritsyas MacBook Air'
      - source_labels: [user]
        regex: '192\.168\.2\.12'
        target_label: client_name
        replacement: 'iPad'

  - job_name: 'container-status'
    scrape_interval: 30s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.106:8081']
        labels: {hostname: 'infra'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'node_exporter'
    scrape_interval: 30s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:9100']
        labels: {hostname: 'proxmox'}
      - targets: ['192.168.2.104:9100']
        labels: {hostname: 'truenas'}
      - targets: ['192.168.2.105:9100']
        labels: {hostname: 'media'}
      - targets: ['192.168.2.106:9100']
        labels: {hostname: 'infra'}
      - targets: ['192.168.2.110:9100']
        labels: {hostname: 'jellyfin'}
      - targets: ['192.168.2.113:9100']
        labels: {hostname: 'immich'}
      - targets: ['192.168.2.115:9100']
        labels: {hostname: 'prometheus'}
      - targets: ['192.168.2.116:9100']
        labels: {hostname: 'tube-archivist'}
      - targets: ['192.168.2.117:9100']
        labels: {hostname: 'paperless'}
      - targets: ['192.168.2.119:9100']
        labels: {hostname: 'open-webui'}
      - targets: ['192.168.2.109:9100']
        labels: {hostname: 'navidrome'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'home_assistant'
    metrics_path: /api/prometheus
    scheme: http
    scrape_timeout: 10s
    authorization:
      type: Bearer
      credentials: "{{ vault_home_assistant_token }}"
    static_configs:
      - targets: ['192.168.2.102:8123']
        labels: {hostname: 'home-assistant'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'unbound'
    scrape_timeout: 10s
    static_configs:
      - targets: ['192.168.2.111:9167']
        labels: {hostname: 'unbound'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'
  - job_name: 'fastapi'
    scrape_interval: 60s
    scrape_timeout: 45s
    static_configs:
      - targets: ['192.168.2.201:8001']
        labels: {hostname: 'key-server'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'
  - job_name: 'ipmi'
    scrape_interval: 60s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:9290']
        labels: {hostname: 'proxmox'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'
  - job_name: 'smartctl'
    scrape_timeout: 10s
    static_configs:
      - targets: ['192.168.2.214:9633']
        labels: {hostname: 'proxmox'}
        # - targets: ['192.168.2.104:9633'] # stops hdd spin down.
        #   labels: {hostname: 'truenas'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'pve_exporter'
    metrics_path: /pve
    scrape_timeout: 10s
    params:
      module: [default]
      cluster: ['1']
      node: ['1']
    static_configs:
      - targets: ['192.168.2.214:9221']
        labels: {hostname: 'proxmox'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'
  - job_name: 'disk_power_status_exporter'
    metrics_path: /metrics
    scrape_interval: 30s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.104:9635']
        labels: {hostname: 'truenas'}
      - targets: ['192.168.2.214:9635']
        labels: {hostname: 'proxmox'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'
    metric_relabel_configs:
      # drop unstable sdX label so reboots don't create new series
      - action: labeldrop
        regex: 'device'

  - job_name: 'nut'
    metrics_path: /ups_metrics
    scrape_interval: 30s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:9199']
        labels: {hostname: 'proxmox'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'

  - job_name: 'mikrotik_exporter'
    scrape_interval: 30s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.106:49090']
        labels: {hostname: 'mikrotik'}
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+)(?::\d+)?'
        target_label: host
        replacement: '$1'
