[{{ nut_admin_user }}]
  password = {{ vault_nut_admin_pass }}
  actions = SET
  instcmds = ALL
  upsmon master

[{{ nut_mon_user }}]
  password = {{ vault_nut_mon_pass }}
  upsmon master

[readonly]
  password = {{ vault_nut_mon_pass }}
