# vim: ft=systemd

[Unit]
Description=Run Mount Touch Probe every {{ mount_touch_probe_interval }}

[Timer]
OnUnitActiveSec={{ mount_touch_probe_interval }}
RandomizedDelaySec=20s
Unit=mount-touch-probe.service
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
