# vim: ft=systemd

[Unit]
Description=Run Share Drive Probe every {{ share_drive_probe_interval }}

[Timer]
OnCalendar=*:0/{{ share_drive_probe_interval_minutes }}
OnBootSec=30s

RandomizedDelaySec=10s
Unit=share-drive-probe.service
Persistent=true

[Install]
WantedBy=timers.target
