# vim: ft=yaml
# infra_vm/files/homepage_config/services.yaml

---

# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Media:
    - Jellyfin:
        href: http://192.168.2.214:8096
        ping: http://192.168.2.214:8096
        siteMonitor: http://192.168.2.214:8096
        description: TV app 
        icon: jellyfin
        server: localhost
        container: dozzle
        showStats: false
        widget:
          type: jellyfin
          url: http://192.168.2.214:8096
          key: "{{ vault_jellyfin_key }}"
          enableBlocks: true # optional, defaults to false
          enableNowPlaying: false # optional, defaults to true
          enableUser: true # optional, defaults to false
          showEpisodeNumber: false # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true

    - Jellyseerr:
        href: http://192.168.2.105:5055/
        ping: http://192.168.2.105:5055/
        siteMonitor: http://192.168.2.105:5055/
        description: TV
        icon: jellyseerr
        widget:
          type: jellyseerr
          url: http://192.168.2.105:5055/
          key: "{{ vault_jellyseer_key }}"

    - Sonarr:
        href: http://192.168.2.105:8989/
        ping: http://192.168.2.105:8989/
        siteMonitor: http://192.168.2.105:8989/
        description: TV Series Manager
        icon: sonarr
        widget:
          type: sonarr
          url: http://192.168.2.105:8989/
          key: "{{ vault_sonarr_key }}"
          enableQueue: true # optional, defaults to false

    - Radarr:
        href: http://192.168.2.105:7878
        ping: http://192.168.2.105:7878
        siteMonitor: http://192.168.2.105:7878
        description: TV Series Manager
        icon: radarr
        widget:
          type: radarr
          url: http://192.168.2.105:7878
          key: "{{ vault_radarr_key }}"
          fields: [wanted, missing, movies, queued]

    - Jackett:
        href: http://192.168.2.105:9117
        ping: http://192.168.2.105:9117
        siteMonitor: http://192.168.2.105:9117
        description: Indexer Manager
        icon: jackett
        widget:
          type: jackett
          url: http://192.168.2.105:9117
          password: "{{ vault_jackett_password }}"

    - qBittorrent:
        href: http://192.168.2.105:8080
        ping: http://192.168.2.105:8080
        siteMonitor: http://192.168.2.105:8080
        description: Downloader
        icon: qBittorrent
        widget:
          type: qbittorrent
          url: http://192.168.2.105:8080
          username: admin
          password: "{{ vault_qbittorrent_password }}"
          enableLeechProgress: false

    - Bazarr:
        href: http://192.168.2.105:6767
        ping: http://192.168.2.105:6767
        siteMonitor: http://192.168.2.105:6767
        description: Subtitles
        icon: bazarr
        widget:
          type: bazarr
          url: http://192.168.2.105:6767
          key: "{{vault_bazarr_key}}"

- Infra:
    - Grafana:
        href: http://192.168.2.106:3000
        ping: http://192.168.2.106:3000
        siteMonitor: http://192.168.2.106:3000
        description: Charts
        icon: grafana
        widget:
          type: grafana
          url: http://192.168.2.106:3000
          username: "{{ vault_grafana_username }}"
          password: "{{ vault_grafana_password }}"

    - Prometheus:
        href: http://192.168.2.106:9090
        ping: http://192.168.2.106:9090
        siteMonitor: http://192.168.2.106:9090
        description: Metrics Collector
        icon: prometheus
        widget:
          type: prometheus
          url: http://192.168.2.106:9090

    - Node Exporter:
        href: http://192.168.2.106:9100
        ping: http://192.168.2.106:9100
        siteMonitor: http://192.168.2.106:9100
        description: Node Exporter
        icon: node exporter

    - cAdvisor:
        href: http://192.168.2.106:8080
        ping: http://192.168.2.106:8080
        siteMonitor: http://192.168.2.106:8080
        description: container metrics
        icon: cAdvisor

    - Uptime Kuma:
        href: http://192.168.2.106:3001
        ping: http://192.168.2.106:3001
        siteMonitor: http://192.168.2.106:3001
        description: monitoring
        icon: uptimekuma
        widget:
          type: uptimekuma
          url: http://192.168.2.106:3001
          slug: monitoring

    - Dozzle:
        href: http://192.168.2.106:9999
        ping: http://192.168.2.106:9999
        siteMonitor: http://192.168.2.106:9999
        description: containers
        icon: dozzle

    - Portainer - Infra:
        href: http://192.168.2.106:9000
        ping: http://192.168.2.106:9000
        siteMonitor: http://192.168.2.106:9000
        description: containers
        icon: portainer
        widget:
          type: portainer
          url: http://192.168.2.106:9000
          env: 5
          key: "{{ vault_portainer_key }}"

    - Portainer - Media:
        href: http://192.168.2.106:9000
        ping: http://192.168.2.106:9000
        siteMonitor: http://192.168.2.106:9000
        description: containers
        icon: portainer
        widget:
          type: portainer
          url: http://192.168.2.106:9000
          env: 3
          key: "{{ vault_portainer_key }}"

    - Router:
        href: http://192.168.2.254/
        ping: http://192.168.2.254/
        siteMonitor: http://192.168.2.254/
        icon: router

    - AdGuard:
        href: http://192.168.2.111
        ping: http://192.168.2.111
        siteMonitor: http://192.168.2.111
        description: host
        icon: adguard
        widget:
          type: adguard
          url: http://192.168.2.111
          username: john
          password: "{{ vault_adguard_password }}"

    - TrueNAS:
        href: http://192.168.2.104
        ping: http://192.168.2.104
        siteMonitor: http://192.168.2.104
        description: nas
        icon: truenas
        widget:
          type: truenas
          url: http://192.168.2.104
          username: truenas_admin
          password: "{{ vault_truenas_password }}"
          enablePools: true # optional, defaults to false
          nasType: scale

    - Proxmox:
        href: https://192.168.2.214:8006
        ping: https://192.168.2.214:8006
        siteMonitor: https://192.168.2.214:8006
        description: host
        icon: proxmox
        widget:
          type: proxmox
          url: https://192.168.2.214:8006
          username: "{{ vault_proxmox_api_token_id }}" 
          password: "{{ vault_proxmox_api_token_secret }}"

    - PBS:
        href: https://192.168.2.200:8007
        ping: https://192.168.2.200:8007
        siteMonitor: https://192.168.2.200:8007
        description: backup
        icon: proxmox
        widget:
          type: proxmoxbackupserver
          url: https://192.168.2.200:8007
          username: "{{ vault_proxmox_backup_api_token_id }}" 
          password: "{{ vault_proxmox_backup_api_token_secret }}"

    - MegaRAC SP-X:
        href: https://192.168.2.213
        ping: https://192.168.2.213
        siteMonitor: https://192.168.2.213
        description: hardware
        icon: server

    - Home Assistant:
        href: http://192.168.2.102:8123
        ping: http://192.168.2.102:8123
        siteMonitor: http://192.168.2.102:8123
        description: home automation
        icon: home-assistant
        widget:
          type: homeassistant
          url: http://192.168.2.102:8123
          key: "{{ vault_homeassistant_access_token }}"
          custom:
            - state: sensor.tech_shelf_power
              label: server shelf
