# vim: ft=yaml
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/
- Monitoring:
    - "":
        widget:
          type: iframe
          src: https://uptime.{{ primary_domain_name }}/status/paused
          classes: h-screen
    - "":
        widget:
          type: iframe
          src: https://uptime.{{ primary_domain_name }}/status/apps
          classes: h-screen
    - "":
        widget:
          type: iframe
          src: https://uptime.{{ primary_domain_name }}/status/monitoring
          classes: h-screen
- Charts:
    # Logs
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=36&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          # Spindown table
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=29&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          # Time OL
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=33&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          # Power
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=7&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          # HDD states
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=23&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # Network I/O
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=19&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # CPU Total
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=1&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # CPU per VM
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=10&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # CPU per Container
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=21&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # Memory Total
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=2&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # Memory per VM/LXC
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=11&__feature.dashboardSceneSolo
          referrerPolicy: same-origin
          allowPolicy: autoplay; fullscreen; gamepad
          allowFullscreen: true
          # Memory per Container
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=22&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          # Temperatures
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=4&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          # Fans
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=3&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
          #  # PSU Runtime
          # - "":
          #    widget:
          #      type: iframe
          #      src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=26&__feature.dashboardSceneSolo
          #      referrerPolicy: same-origin
          #      allowPolicy: autoplay; fullscreen; gamepad
          #      allowFullscreen: true
          #  # PSU Load
          # - "":
          #    widget:
          #      type: iframe
          #      src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=27&__feature.dashboardSceneSolo
          #      referrerPolicy: same-origin
          #      allowPolicy: autoplay; fullscreen; gamepad
          #      allowFullscreen: true
          #  # PSU Charge
          # - "":
          #    widget:
          #      type: iframe
          #      src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%kiosk=tv&refresh=10s&panelId=24&__feature.dashboardSceneSolo
          #      referrerPolicy: same-origin
          #      allowPolicy: autoplay; fullscreen; gamepad
          #      allowFullscreen: true
    - Grafana:
        href: https://charts.{{ primary_domain_name }}/d/dekkfibh9454wb/home-server?from=now-24h&to=now&timezone=browser%3Fkiosk&refresh=10s
        siteMonitor: http://192.168.2.106:3000
        icon: grafana
        widget:
          type: grafana
          fields: [""]
          url: http://192.168.2.106:3000
          username: "{{ vault_grafana_username }}"
          password: "{{ vault_grafana_password }}"
- More Charts:
    # Summary Table
    - "":
        widget:
          type: iframe
          src: https://charts.{{ primary_domain_name }}/d-solo/dekkfibh9454wb/home-server?timezone=browser%3Fkiosk&refresh=10s&panelId=18&__feature.dashboardSceneSolo
          referrerPolicy: same-origin # optional, no default
          allowPolicy: autoplay; fullscreen; gamepad # optional, no default
          allowFullscreen: true # optional, default: true
# media
- Media:
    - Jellyfin:
        href: https://jelly.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.110:8096
        description: Media Server
        icon: jellyfin
        widget:
          type: jellyfin
          url: http://192.168.2.110:8096
          key: "{{ vault_jellyfin_key }}"
          enableBlocks: true # optional, defaults to false
          enableNowPlaying: false # optional, defaults to true
          enableUser: true # optional, defaults to false
          showEpisodeNumber: false # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true
    - Feishin:
        href: http://music.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.109:9180
        description: Music Player
        icon: feishin
    - Slskd:
        href: https://slskd.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:5030
        description: music
        icon: slskd
    - Picard:
        href: http://picard.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.109:5800/
        description: Music Metadata
        icon: sh-musicbrainz-picard-dark
    - Journal Insights:
        href: http://journal.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:8402
        description: Semantic Text Analysis
        icon: mdi-book-open-variant-outline
    - Navidrome:
        href: http://navidrome.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.109:4533
        description: Music Server
        icon: navidrome
        widget:
          type: navidrome
          url: http://192.168.2.109:4533
          user: john
          token: "{{ vault_navidrome_token }}"
          salt: x7384k
    - Jellyseerr:
        href: https://seerr.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:5055/
        description: TV
        icon: jellyseerr
        widget:
          type: jellyseerr
          url: http://192.168.2.105:5055/
          key: "{{ vault_jellyseerr_key }}"
    - Open-WebUI:
        href: https://chat.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.119:3000
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/open-webui.svg
    - Immich:
        href: http://immich.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.113:2283
        description:
        widget:
          type: immich
          url: http://192.168.2.113:2283
          key: "{{ vault_immich_api_key_homepage }}"
          version: 2
    - BookLore:
        href: https://books.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:6060
        description: Books
        icon: sh-booklore
    - Library:
        href: https://library.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.117:8010
        description: Document library
        icon: mdi-file-document-multiple
    - Tubearchivist:
        href: https://tube.{{ primary_domain_name }}
        siteMonitor: https://tube.{{ primary_domain_name }}
        description: Kids youtube archive
        icon: sh-youtube
        widget:
          type: tubearchivist
          url: http://192.168.2.116:8000
          key: "{{ vault_tubearchivist_key }}"
    - Radarr:
        href: https://radarr.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:7878
        description: Movie Manager
        icon: radarr
        widget:
          type: radarr
          url: http://192.168.2.105:7878
          key: "{{ vault_radarr_key }}"
          fields: [wanted, missing, movies, queued]
          enableQueue: false
    - Sonarr:
        href: https://sonarr.{{ primary_domain_name }}/
        siteMonitor: http://192.168.2.105:8989/
        description: TV Series Manager
        icon: sonarr
        widget:
          type: sonarr
          url: http://192.168.2.105:8989/
          key: "{{ vault_sonarr_key }}"
          enableQueue: false
    - Gluetun:
        href: http://192.168.2.105:8000/v1/publicip/ip
        siteMonitor: http://192.168.2.105:8000/v1/publicip/ip
        description: VPN client
        icon: gluetun
        widget:
          type: gluetun
          url: http://192.168.2.105:8000
          key: "{{ vault_gluetun_password }}"
    - Prowlarr:
        href: http://prowlarr.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:9696
        description: Indexer Manager
        icon: prowlarr
        widget:
          type: prowlarr
          url: http://192.168.2.105:9696
          key: "{{ vault_prowlarr_api_key }}"
    - Bazarr:
        href: http://bazarr.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:6767
        description: Subtitles
        icon: bazarr
        widget:
          type: bazarr
          url: http://192.168.2.105:6767
          key: "{{vault_bazarr_key}}"
    - SABnzbd:
        href: http://sabnzbd.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:8081/
        description: Usenet download client
        icon: sabnzbd
        widget:
          type: sabnzbd
          url: http://192.168.2.105:8081/
          key: "{{ vault_sabnzbd_key }}"
    - qBittorrent:
        href: http://qbittorrent.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.105:8080
        description: Downloader
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/qbittorrent.svg
        widget:
          type: qbittorrent
          url: http://192.168.2.105:8080
          username: admin
          password: "{{ vault_qbittorrent_password }}"
          enableLeechProgress: true

- Usenet:
    - NZBGeek.info:
        href: https://nzbgeek.info/dashboard.php
        siteMonitor: https://nzbgeek.info/dashboard.php
        description: Indexer
        icon: https://nzbgeek.info/favicon.ico
    - Usenet.farm:
        href: https://usenet.farm/members.html
        siteMonitor: https://usenet.farm/members.html
        description: Usenet Provider
        icon: si-swisscows
    - Usenet Express:
        href: https://members.usenetexpress.com/bytes-history

        siteMonitor: https://members.usenetexpress.com/member
        description: Usenet Provider
        icon: https://usenetexpress.com/favicon.ico
    - Accounts:
        href: https://app.addy.io
        siteMonitor: https://app.addy.io
        description: Email address aliases
        icon: https://app.addy.io/favicon.ico

- Documentation:
    - Documentation (all):
        href: https://docs.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.106:3003
        icon: si-materialformkdocs
    - Server Documentation:
        href: https://server-docs.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.106:8000
        icon: si-materialformkdocs
    - NanoClaw Documentation:
        href: https://agent-docs.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.107:8000
        icon: si-materialformkdocs
    - NanoClaw Dev Journal:
        href: https://agent-journal.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.107:8001
        icon: si-materialformkdocs

- Media_:
    - Mullvad:
        description: 23 January 2027 11:44
    - Usenet.farm:
        description: 15 September 2026
    - Usenet Express.info:
        description: 500GB block. 1 block per account
    - NZBGeek.info:
        description: 26 November 2026 10:48
    - Usage Metrics:
        description: sabnzbd > settings > servers
- System_:
    - Share Drive Probe:
        description: "{{ share_drive_probe_quiet_hours_start }} - {{ share_drive_probe_quiet_hours_end }}\ndocs.{{ primary_domain_name }}/monitor_nfs_smb_mounts"

- Proxmox Backup:
    - Backup:
        description: "10am\nDuration: 14 minutes\nRetention:\nlast: 14\ndaily: 21\nweekly: 8\nmonthly: 6"
    - Garbage Collection:
        description: "11am\nDuration: 10 seconds"
    - Pruning:
        description: "12am\nDuration: 7 seconds\n\nKeep:\ndaily:14\nweekly:1\nmonthly:3\nyearly:2\nRemoves old backups according to retention policy."
    - Verification:
        description: "2pm\nDuration: 1 second\nReverify after 30 days"

- TrueNAS_:
    - Disk Power Management:
        description: "tank:\n- 1hr standby\n- max. power usage w/ standby (level 127)\n\nbackup:\n- 30m standby\n- min. power usage w/ standby (level 1)"
    - Snapshots and Replication:
        description: "- tank: 13:00 daily\n- switft: 13:30 daily"
    - Cloud Sync Tasks:
        description: "4pm daily"
    - Scrub Tasks:
        description: "On the first sunday at least 35 days after the previous scrub\n- tank: 10am\n- swift: 4pm\n- backup: 5pm"
    - SMART tests:
        description: "backup and tank\nshort: 12pm Sundays\nlong: 10am First day of the month"
    - Spindown HDDs:
        description: "docs.{{ primary_domain_name }}/disks.\n\n0,1,4,6,8,10,15,18,20,22"
    - Reboot:
        description: "8:15am, every 7 days"
    - Startup Scripts:
        description: "- Unlock datasets\n- Refresh shares"

- Infra:
    - SRE Agent:
        href: http://sre.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.106:8501/
        description: Site Reliability Engineer
        icon: squirrel-servers-manager
    - Grafana:
        href: https://charts.{{ primary_domain_name }}/d/dekkfibh9454wb/home-server?from=now-24h&to=now&timezone=browser%3Fkiosk&refresh=10s
        siteMonitor: http://192.168.2.106:3000
        icon: grafana
        widget:
          type: grafana
          fields: [dashboards, datasources]
          url: http://192.168.2.106:3000
          username: "{{ vault_grafana_username }}"
          password: "{{ vault_grafana_password }}"
    - Prometheus:
        href: http://prometheus.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.115:9090
        description: Metrics Collector
        icon: prometheus
        widget:
          type: prometheus
          url: http://192.168.2.115:9090
    - Uptime Kuma:
        href: https://uptime.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.106:3001
        description: Monitoring
        icon: si-uptimekuma
        widget:
          type: uptimekuma
          url: http://192.168.2.106:3001
          slug: monitoring
    - Portainer:
        href: http://portainer.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.106:9000
        description: containers
        icon: portainer
        widget:
          type: portainer
          url: http://192.168.2.106:9000
          env: 3
          key: "{{ vault_portainer_key }}"
    - AdGuard:
        href: http://adguard.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.111
        description: Ad blocker
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/adguard-home.svg
        widget:
          type: adguard
          url: http://192.168.2.111
          username: john
          password: "{{ vault_adguard_password }}"
    - Loki:
        href: http://192.168.2.106:3100/loki/api/v1/status/buildinfo
        siteMonitor: http://192.168.2.106:3100/loki/api/v1/status/buildinfo
        icon: loki
    - Traefik:
        href: https://traefik.{{ primary_domain_name }}/dashboard/#/
        siteMonitor: https://traefik.{{ primary_domain_name }}/dashboard/#/
        icon: traefik
        widget:
          type: traefik
          url: http://192.168.2.108
    - Dozzle:
        href: http://dozzle.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.106:9999
        description: containers
        icon: dozzle
    - iPerf3:
        href: http://192.168.2.106:5201
        # siteMonitor: http://192.168.2.106:5201
        description: wifi speed test
        icon: iperf3
    - MikroTik Exporter:
        href: http://192.168.2.106:49090/metrics
        siteMonitor: http://192.168.2.106:49090/metrics
        icon: mikrotik
        description: MikroTik metrics exporter
    - LibreSpeed:
        href: http://speed.{{ primary_domain_name }}:8080
        description: Network Speed
    # - VaultWarden:
    #     href: https://passwords.{{ primary_domain_name }}
    #     siteMonitor: https://192.168.2.13:8000
    #     icon: vaultwarden
    - Home Assistant:
        href: https://home.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.102:8123
        description: Home automation
        icon: home-assistant
        widget:
          type: homeassistant
          url: http://192.168.2.102:8123
          key: "{{ vault_homeassistant_access_token }}"
          custom:
            - state: sensor.tech_shelf_power
              label: server shelf
- External:
    - Tailscale:
        href: https://login.tailscale.com/admin/machines
        siteMonitor: https://login.tailscale.com/admin/machines
        icon: tailscale
    - Pushover:
        href: https://pushover.net/
        siteMonitor: https://pushover.net/
        icon: pushover
- NAS:
    - TrueNAS:
        href: https://nas.{{ primary_domain_name }}/ui/system/advanced
        siteMonitor: http://192.168.2.104
        icon: truenas
        widget:
          type: truenas
          url: http://192.168.2.104
          username: truenas_admin
          password: "{{ vault_truenas_password }}"
          enablePools: false # optional, defaults to false
          nasType: scale
    - File Browser:
        href: https://files.{{ primary_domain_name }}
        siteMonitor: http://192.168.2.104:30334
        icon: filebrowser
        # widget:
        #   type: filebrowser
        #   url: http://192.168.2.104:30334
        #   username: "{{ vault_truenas_filebrowser_username }}"
        #   password: "{{ vault_truenas_filebrowser_password }}"
- PVE:
    - Proxmox:
        href: https://proxmox.{{ primary_domain_name }}
        siteMonitor: https://192.168.2.214:8006
        description: host
        icon: proxmox
        widget:
          type: proxmox
          url: https://192.168.2.214:8006
          username: "{{ vault_proxmox_api_token_id }}"
          password: "{{ vault_proxmox_api_token_secret }}"
    - Proxmox Backup Server:
        href: https://pbs.{{ primary_domain_name }}
        siteMonitor: https://192.168.2.200:8007
        description: backup
        icon: proxmox
        widget:
          type: proxmoxbackupserver
          url: https://192.168.2.200:8007
          username: "{{ vault_proxmox_backup_api_token_id }}"
          password: "{{ vault_proxmox_backup_api_token_secret }}"
- Hardware:
    - MikroTik Router:
        href: http://192.168.2.1
        siteMonitor: http://192.168.2.1
        icon: router
    - MegaRAC SP-X (local):
        href: https://192.168.2.213
        siteMonitor: https://192.168.2.213
        description: SBC
        icon: mdi-Server
    - MegaRAC SP-X:
        href: https://bmc.{{ primary_domain_name }}
        siteMonitor: https://192.168.2.213
        description: SBC
        icon: mdi-Server
