# vim: ft=yaml
# infra_vm/files/homepage_config/services.yaml

---

# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Monitoring: 
  - "":
     widget:
       type: iframe
       src: https://uptime.itsa.pizza/status/apps
       classes: h-screen

  - "":
     widget:
       type: iframe
       src: https://uptime.itsa.pizza/status/monitoring
       classes: h-screen


- Charts:
  # CPU Total
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%kiosk=tv&refresh=10s&panelId=1&__feature.dashboardSceneSolo
       referrerPolicy: same-origin
       allowPolicy: autoplay; fullscreen; gamepad
       allowFullscreen: true

  # CPU per Container
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%kiosk=tv&refresh=10s&panelId=21&__feature.dashboardSceneSolo
       referrerPolicy: same-origin
       allowPolicy: autoplay; fullscreen; gamepad
       allowFullscreen: true

  # CPU per VM 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%kiosk=tv&refresh=10s&panelId=10&__feature.dashboardSceneSolo
       referrerPolicy: same-origin
       allowPolicy: autoplay; fullscreen; gamepad
       allowFullscreen: true

  # Memory Total 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%3Fkiosk&refresh=10s&panelId=2&__feature.dashboardSceneSolo
       referrerPolicy: same-origin
       allowPolicy: autoplay; fullscreen; gamepad
       allowFullscreen: true

  # Memory per Container 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%kiosk=tv&refresh=10s&panelId=22&__feature.dashboardSceneSolo
       referrerPolicy: same-origin # optional, no default
       allowPolicy: autoplay; fullscreen; gamepad # optional, no default
       allowFullscreen: true # optional, default: true

  # Memory per VM/LXC
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%kiosk=tv&refresh=10s&panelId=11&__feature.dashboardSceneSolo
       referrerPolicy: same-origin
       allowPolicy: autoplay; fullscreen; gamepad
       allowFullscreen: true

  # Network I/O  
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%kiosk=tv&refresh=10s&panelId=19&__feature.dashboardSceneSolo
       referrerPolicy: same-origin
       allowPolicy: autoplay; fullscreen; gamepad
       allowFullscreen: true

  # Temperatures 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%3Fkiosk&refresh=10s&panelId=4&__feature.dashboardSceneSolo
       referrerPolicy: same-origin # optional, no default
       allowPolicy: autoplay; fullscreen; gamepad # optional, no default
       allowFullscreen: true # optional, default: true

  # Fans 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%3Fkiosk&refresh=10s&panelId=3&__feature.dashboardSceneSolo
       referrerPolicy: same-origin # optional, no default
       allowPolicy: autoplay; fullscreen; gamepad # optional, no default
       allowFullscreen: true # optional, default: true

  # Power 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%3Fkiosk&refresh=10s&panelId=7&__feature.dashboardSceneSolo
       referrerPolicy: same-origin # optional, no default
       allowPolicy: autoplay; fullscreen; gamepad # optional, no default
       allowFullscreen: true # optional, default: true


  - Grafana:
      href: https://charts.itsa.pizza
      siteMonitor: http://192.168.2.106:3000
      icon: grafana
      widget:
        type: grafana
        fields: [""]
        url: http://192.168.2.106:3000
        username: "{{ vault_grafana_username }}"
        password: "{{ vault_grafana_password }}"

- More Charts: 

  # Summary Table 
  - "":
     widget:
       type: iframe
       src: https://charts.itsa.pizza/d-solo/dekkfibh9454wb/proxmox?orgId=1&timezone=browser%3Fkiosk&refresh=10s&panelId=18&__feature.dashboardSceneSolo
       referrerPolicy: same-origin # optional, no default
       allowPolicy: autoplay; fullscreen; gamepad # optional, no default
       allowFullscreen: true # optional, default: true



# media
- Media:

    - Jellyfin:
        href: https://jelly.itsa.pizza
        siteMonitor: http://192.168.2.214:8096
        description: Media Server
        icon: jellyfin
        widget:
          type: jellyfin
          url: http://192.168.2.214:8096
          key: "{{ vault_jellyfin_key }}"
          enableBlocks: true # optional, defaults to false
          enableNowPlaying: false # optional, defaults to true
          enableUser: true # optional, defaults to false
          showEpisodeNumber: false # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true

    - Paperless:
        href: https://paperless.itsa.pizza
        siteMonitor: http://192.168.2.105:8001
        description: Document management system
        icon: paperless
        showStats: true
        widget:
          type: paperlessngx
          url: http://192.168.2.105:8001
          key: "{{ vault_paperless_key }}"

    - File Browser:
        href: http://192.168.2.105:8082
        siteMonitor: http://192.168.2.105:8082
        icon: filebrowser

    - BookLore:
        href: https://booklore.itsa.pizza
        siteMonitor: http://192.168.2.105:6060
        description: Books
        icon: booklore

    - Tunarr:
        href: http://192.168.2.214:8000
        siteMonitor: http://192.168.2.214:8001
        description: TV channels 
        icon: tunarr
        showStats: true

    - Tunarr chanells:
        href: http://192.168.2.214:8001
        siteMonitor: http://192.168.2.214:8001
        description: TV channels 
        icon: tunarr
        showStats: true

    - Jellyseerr:
        href: https://seerr.itsa.pizza
        siteMonitor: http://192.168.2.105:5055/
        description: TV
        icon: jellyseerr
        widget:
          type: jellyseerr
          url: http://192.168.2.105:5055/
          key: "{{ vault_jellyseerr_key }}"

    - Jellyseerr-kids:
        href: http://192.168.2.105:5056
        siteMonitor: http://192.168.2.105:5056
        description: TV
        icon: jellyseerr
        widget:
          type: jellyseerr
          url: http://192.168.2.105:5056
          key: "{{ vault_jellyseerr_kids_key }}"

    - Immich:
        href: http://192.168.2.214:2283
        siteMonitor: http://192.168.2.214:2283
        description: photos 
        icon: immich

    - Radarr:
        href: https://radarr.itsa.pizza
        siteMonitor: http://192.168.2.105:7878
        description: Movie Manager
        icon: radarr
        widget:
          type: radarr
          url: http://192.168.2.105:7878
          key: "{{ vault_radarr_key }}"
          fields: [wanted, missing, movies, queued]
          enableQueue: false

    - Sonarr:
        href: https://sonarr.itsa.pizza/
        siteMonitor: http://192.168.2.105:8989/
        description: TV Series Manager
        icon: sonarr
        widget:
          type: sonarr
          url: http://192.168.2.105:8989/
          key: "{{ vault_sonarr_key }}"
          enableQueue: false

    - Gluetun:
        href: http://192.168.2.105:8000/v1/publicip/ip
        siteMonitor: http://192.168.2.105:8000/v1/publicip/ip
        description: VPN client
        icon: gluetun
        widget:
          type: gluetun
          url: http://192.168.2.105:8000

    - Prowlarr:
        href: http://192.168.2.105:9696
        siteMonitor: http://192.168.2.105:9696
        description: Indexer Manager
        icon: prowlarr
        widget:
          type: prowlarr
          url: http://192.168.2.105:9696
          key: "{{ vault_prowlarr_api_key }}"

    - Bazarr:
        href: http://192.168.2.105:6767
        siteMonitor: http://192.168.2.105:6767
        description: Subtitles
        icon: bazarr
        widget:
          type: bazarr
          url: http://192.168.2.105:6767
          key: "{{vault_bazarr_key}}"

    - SABnzbd:
        href: http://192.168.2.105:8081/
        siteMonitor: http://192.168.2.105:8081/
        description: Usenet download client
        icon: sabnzbd
        widget:
          type: sabnzbd
          url: http://192.168.2.105:8081/
          key: "{{ vault_sabnzbd_key }}"

    - qBittorrent:
        href: http://192.168.2.105:8080
        siteMonitor: http://192.168.2.105:8080
        description: Downloader
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/qbittorrent.svg
        widget:
          type: qbittorrent
          url: http://192.168.2.105:8080
          username: admin
          password: "{{ vault_qbittorrent_password }}"
          enableLeechProgress: true

- Usenet:
    - NZBGeek.info:
        href: https://nzbgeek.info/dashboard.php
        siteMonitor: https://nzbgeek.info/dashboard.php
        description: Indexer
        icon: https://nzbgeek.info/favicon.ico

    - Usenet.farm:
        href: https://usenet.farm/members.html
        siteMonitor: https://usenet.farm/members.html
        description: Usenet Provider
        icon: si-swisscows

    - Usenet Express:
        href: https://members.usenetexpress.com/bytes-history
        siteMonitor: https://members.usenetexpress.com/member
        description: Usenet Provider
        icon: https://usenetexpress.com/favicon.ico

- Infra:

    - VaultWarden:
        href: https://192.168.2.13:8000
        siteMonitor: https://192.168.2.13:8000
        icon: vaultwarden

    - File Browser:
        href: http://192.168.2.106:8082
        siteMonitor: http://192.168.2.106:8082
        icon: filebrowser


    - traefik:
        href: http://192.168.2.108:8080/dashboard/#/
        siteMonitor: http://192.168.2.108:8080/dashboard/#/
        icon: traefik
        widget:
          type: traefik
          url: http://192.168.2.108:8080

    - ntfy:
        href: https://ntfy.itsa.pizza/
        siteMonitor: https://ntfy.itsa.pizza/
        icon: ntfy

    - Grafana:
        href: https://charts.itsa.pizza
        siteMonitor: http://192.168.2.106:3000
        icon: grafana
        widget:
          type: grafana
          fields: ["dashboards", "datasources"]
          url: http://192.168.2.106:3000
          username: "{{ vault_grafana_username }}"
          password: "{{ vault_grafana_password }}"


    - Home Assistant:
        href: https://home.itsa.pizza
        siteMonitor: http://192.168.2.102:8123
        description: Home automation
        icon: home-assistant
        widget:
          type: homeassistant
          url: http://192.168.2.102:8123
          key: "{{ vault_homeassistant_access_token }}"
          custom:
            - state: sensor.tech_shelf_power
              label: server shelf

    - AdGuard:
        href: http://192.168.2.111
        siteMonitor: http://192.168.2.111
        description: Ad blocker
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/adguard-home.svg
        widget:
          type: adguard
          url: http://192.168.2.111
          username: john
          password: "{{ vault_adguard_password }}"

    - Uptime Kuma:
        href: https://uptime.itsa.pizza
        siteMonitor: http://192.168.2.106:3001
        description: Monitoring
        icon: si-uptimekuma 
        widget:
          type: uptimekuma
          url: http://192.168.2.106:3001
          slug: monitoring

    - Prometheus:
        href: http://192.168.2.106:9090
        siteMonitor: http://192.168.2.106:9090
        description: Metrics Collector
        icon: prometheus
        widget:
          type: prometheus
          url: http://192.168.2.106:9090

    - Portainer:
        href: http://192.168.2.106:9000
        siteMonitor: http://192.168.2.106:9000
        description: containers
        icon: portainer
        widget:
          type: portainer
          url: http://192.168.2.106:9000
          env: 5
          key: "{{ vault_portainer_key }}"

    - Dozzle:
        href: http://192.168.2.106:9999
        siteMonitor: http://192.168.2.106:9999
        description: containers
        icon: dozzle

    - iPerf3:
        href: http://192.168.2.106:5201
        siteMonitor: http://192.168.2.106:5201
        description: wifi speed test
        icon: iperf3

- NAS:
    - TrueNAS:
        href: https://nas.itsa.pizza
        siteMonitor: http://192.168.2.104
        icon: truenas
        widget:
          type: truenas
          url: http://192.168.2.104
          username: truenas_admin
          password: "{{ vault_truenas_password }}"
          enablePools: true # optional, defaults to false
          nasType: scale

    - File Browser (NAS):
        href: https://nas-files.itsa.pizza
        siteMonitor: http://192.168.2.104:30051
        icon: filebrowser

- PVE:
    - Proxmox:
        href: https://192.168.2.214:8006
        siteMonitor: https://192.168.2.214:8006
        description: host
        icon: proxmox
        widget:
          type: proxmox
          url: https://192.168.2.214:8006
          username: "{{ vault_proxmox_api_token_id }}" 
          password: "{{ vault_proxmox_api_token_secret }}"

    - Proxmox Backup Server:
        href: https://192.168.2.200:8007
        siteMonitor: https://192.168.2.200:8007
        description: backup
        icon: proxmox
        widget:
          type: proxmoxbackupserver
          url: https://192.168.2.200:8007
          username: "{{ vault_proxmox_backup_api_token_id }}" 
          password: "{{ vault_proxmox_backup_api_token_secret }}"

- Hardware:
    - MySpeed:
        href: http://192.168.2.112:5216/
        siteMonitor: http://192.168.2.112:5216/
        description: Network Speed
        icon: myspeed
        widget:
          type: myspeed
          url: http://192.168.2.112:5216/

    - Router:
        href: http://192.168.2.254/
        siteMonitor: http://192.168.2.254/
        icon: router

    - MegaRAC SP-X:
        href: https://192.168.2.213
        siteMonitor: https://192.168.2.213
        description: hardware
        icon: mdi-Server

