# proxmox_node/templates/docker-compose.yml.j2
# vim: ft=yaml

---

services:
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    environment:
      LOKI_WRITE_ENDPOINT: "http://192.168.2.106:3100/loki/api/v1/push"
      NODE_HOSTNAME: "pve"
      LOG_LEVEL: "warn"
    volumes:
      # config 
      - ./alloy:/etc/alloy:ro 
      # docker 
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # journalctl  
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
    command: >
      run --server.http.listen-addr=0.0.0.0:12345
      --storage.path=/var/lib/alloy/data
      /etc/alloy/config.alloy
    ports:
      - "12345:12345"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  # for the proxmox backup server HDD
  disk-status-exporter:
    image: ghcr.io/johnmathews/disk_status_exporter:latest
    container_name: disk_status_exporter
    restart: always
    ports:
      - "9635:9635"
    volumes:
      - /dev:/dev:ro
    privileged: true  # recommended to access /dev/sdX and run smartctl

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
      - '--collector.textfile'
      - '--collector.textfile.directory=/textfile'
    ports:
      - "9100:9100"
    restart: unless-stopped
    # pid: host # not needed if we mount `/:/host` and use `--path.rootfs=/host`
    # network_mode: host # this exposes the default service port (9100) on all interfaces. too broad, we only want it accessible by prom.
    volumes:
      - '/:/host:ro,rslave'
      - '/var/lib/node_exporter/textfile_collector:/textfile:ro'

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    ports:
      - "18080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /var/lib/containerd:/var/lib/containerd:ro
    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true

  # prometheus metrics about the UPS
  nut_exporter:
    image: ghcr.io/druggeri/nut_exporter:sha-9e58f9c
    container_name: nut_exporter
    restart: unless-stopped
    network_mode: host
    environment:
      - NUT_EXPORTER_SERVER=127.0.0.1
      - NUT_EXPORTER_SERVERPORT=3493
      - NUT_EXPORTER_USERNAME=readonly
      - NUT_EXPORTER_PASSWORD="{{ vault_nut_mon_pass }}"
      - NUT_EXPORTER_VARIABLES=battery.charge,battery.runtime,battery.voltage,battery.voltage.nominal,input.voltage,input.voltage.nominal,output.voltage,output.voltage.nominal,ups.load,ups.status
      - NUT_EXPORTER__LOG_LEVEL=info
    ports:
      - "9199:9199"   # Prometheus scrape
