# vim: ft=yaml
# proxmox_node/templates/ipmi.yml.j2

modules:
  default:
    user: admin
    pass: "{{ vault_proxmox_bmc_password }}"
    collectors:
      - bmc
      - chassis
      - ipmi
      - dcmi
