maxretry = {{ pve_nut_maxretry }} 

[{{ pve_nut_ups_name }}]
    driver = {{ pve_nut_driver }}
    port = {{ pve_nut_port }}
    desc = "{{ pve_nut_desc }}"
    vendorid = {{ pve_nut_vendorid }}
    productid = {{ pve_nut_productid }}
    pollinterval = {{ pve_nut_pollinterval }}
    override.battery.runtime.low = {{ pve_ups_battery_runtime_low }}
    override.battery.charge.low = {{ pve_ups_battery_charge_low }}


