# {{ ansible_managed }}
# cloudflared tunnel configuration

{% set domains = [primary_domain_name] + (migration_additional_domains | default([])) %}

tunnel: {{ cloudflared_tunnel_id }}
credentials-file: /root/.cloudflared/{{ cloudflared_tunnel_id }}.json

ingress:
{% for domain in domains %}
{% for rule in cloudflared_ingress %}
{% set hostname = (rule.prefix + '.' + domain) if rule.prefix else domain %}
  - hostname: {{ hostname }}
    service: {{ rule.service }}
{% if rule.no_tls_verify | default(false) or rule.set_host_header | default(false) %}
    originRequest:
{% if rule.no_tls_verify | default(false) %}
      noTLSVerify: true
{% endif %}
{% if rule.set_host_header | default(false) %}
      httpHostHeader: {{ hostname }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
  - service: http_status:404
