# vim: ft=yaml
# jellyfin_lxc/files/docker-compose.yml

---

services:

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    environment:
      LOKI_WRITE_ENDPOINT: "http://192.168.2.106:3100/loki/api/v1/push"
      NODE_HOSTNAME: "tube-archivist"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./alloy:/etc/alloy:ro 
    command: >
      run --server.http.listen-addr=0.0.0.0:12345
      --storage.path=/var/lib/alloy/data
      /etc/alloy/config.alloy
    ports:
      - "12345:12345"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
      - '--collector.textfile.directory=/textfile'
    network_mode: host
    ports:
      - "9100:9100"
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
      - '/var/lib/node_exporter/textfile_collector:/textfile:ro'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    command:
      - --housekeeping_interval=15s
      - --max_housekeeping_interval=15s
      - --global_housekeeping_interval=15s
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true  # required for some metrics
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"


  tubearchivist:
    container_name: tubearchivist
    image: bbilly1/tubearchivist:v0.5.7
    restart: always
    ports:
      - 8000:8000
    volumes:
      - /mnt/nfs/youtube-kids:/youtube
      - cache:/cache
    environment:
      - ES_URL=http://archivist-es:9200
      - REDIS_CON=redis://archivist-redis:6379
      - HOST_UID=1000
      - HOST_GID=1000
      - TA_HOST={{ tubearchivist_host }}
      - TA_USERNAME={{ ta_username }}
      - TA_PASSWORD={{ vault_ta_password }}
      - ELASTIC_PASSWORD={{ vault_ta_elastic_search_password }}
      - TZ=Europe/Amsterdam
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/health"]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      - archivist-es
      - archivist-redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  archivist-redis:
    image: redis
    container_name: archivist-redis
    restart: always
    expose:
      - "6379"
    volumes:
      - redis:/data
    depends_on:
      - archivist-es
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  archivist-es:
    image: elasticsearch:8.18.0
    container_name: archivist-es
    restart: always
    environment:
      - "ELASTIC_PASSWORD={{ vault_ta_elastic_search_password }}"
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "xpack.security.enabled=true"
      - "discovery.type=single-node"
      - "path.repo=/usr/share/elasticsearch/data/snapshot"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es:/usr/share/elasticsearch/data 
    expose:
      - "9200"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"


volumes:
  media:
  cache:
  redis:
  es:
