# vim: ft=toml

[[roles]]
name = "basic"

# Define a list of routes with the syntax "Http-Method /path"
routes = ["GET /v1/publicip/ip"]

# Define an authentication method with its parameters
auth     = "basic"
username = "{{ vault_gluetun_user }}"
password = "{{ vault_gluetun_password }}"


[[roles]]
name = "api"

# Define a list of routes with the syntax "Http-Method /path"
routes = ["GET /v1/publicip/ip"]

# Define an authentication method with its parameters
auth = "apikey"
apikey = "plumbers9splendid_TONI"



