# vim: ft=yaml
# media_vm/files/docker-compose.yml

---

services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - 8080:8080 # qBittorrent WebUI
      - 3189:3189 # qbittorrent endpoint port
      - 6881:6881 # BitTorrent port
      - 8081:8081 # sabnzbd WebUI, set in config file.
      # - 8085:8085 # sabnzbd WebUI, set in config file. DELETE
      - 6881:6881/udp
      - 8000:8000/tcp # control server port
      # - 8888:8888/tcp # HTTP proxy
      # - 8388:8388/tcp # Shadowsocks
      # - 8388:8388/udp # Shadowsocks
    volumes:
      - /srv/media/config/gluetun:/gluetun
    healthcheck:
      test: ["CMD", "wget", "-qO-", "https://ifconfig.me"]
      interval: 60s
      timeout: 10s
      retries: 3
    environment:
      # NO PORT FORWARDING 
      - FIREWALL=on
      - FIREWALL_VPN_INPUT_PORTS="3189,6881"
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=wireguard
      - WIREGUARD_ENDPOINT=${WIREGUARD_ENDPOINT}
      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - OWNED_ONLY=yes
      - TZ=Europe/Amsterdam
    restart: always

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    security_opt:
      - no-new-privileges:true
    network_mode: "service:gluetun"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
      - TZ=${TZ}
      - WEBUI_USERNAME=${QBITTORRENT_USERNAME}
      - WEBUI_PASSWORD=${QBITTORRENT_PASSWORD}
    volumes:
      - /srv/media/config:/config
      - /mnt/media/library/downloads:/downloads
      - /mnt/media/library:/media
    restart: always

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    healthcheck:
      test: ["CMD", "wget", "-qO-", "https://ifconfig.me"]
      interval: 30s
      timeout: 10s
      retries: 3
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
      - TZ=${TZ}
      - HOST_WHITELIST=sabnzbd.itsa.pizza,192.168.2.118 # doesnt work for this image. edit sabnzbd.ini instead
    volumes:
      - /srv/media/config/sabnzbd:/config # Persistent settings
      - /mnt/media/library/downloads:/downloads
      - /mnt/media/library:/library
    network_mode: "service:gluetun"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always

  hometube:
    image: ghcr.io/egalitarianmonkey/hometube:latest
    ports:
      - "8501:8501"
    environment:
      - TZ=Europe/Amsterdam
      - PORT=8501
    volumes:
      - /mnt/media/media/Video/YouTube Videos:/data/Videos
      - /srv/media/config/hometube/cookies:/config # Cookies folder
    restart: unless-stopped

  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    user: "${PUID}:${PGID}" 
    ports:
      - "8082:80"
    volumes:
      - /mnt/media/media:/srv  # Adjust to the path you want to browse
      - /srv/media/config/filebrowser/config:/config  # Config and database
      - /srv/media/config/filebrowser/config/database:/database  # Config and database
    environment:
      - TZ=Europe/Amsterdam
      - FB_ROOT=/srv
    restart: always

  booklore:
    image: ghcr.io/adityachandelgit/booklore-app:latest
    container_name: booklore
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Etc/UTC
      # - DATABASE_URL=jdbc:mariadb://mariadb:3306/booklore # Only modify this if you're familiar with JDBC and your database setup
      - DATABASE_URL=jdbc:mariadb://booklore-mariadb:3306/booklore
      - DATABASE_USERNAME=booklore # Must match MYSQL_USER defined in the mariadb container
      - DATABASE_PASSWORD=your_secure_password # Use a strong password; must match MYSQL_PASSWORD defined in the mariadb container 
      - SWAGGER_ENABLED=false # Enable or disable Swagger UI (API docs). Set to 'true' to allow access; 'false' to block access (recommended for production).
    depends_on:
      booklore-mariadb:
        condition: service_healthy
    ports:
      - "6060:6060"
    volumes:
      - /srv/media/config/booklore/data:/app/data
      - /srv/media/config/booklore/books:/books
      - /mnt/media/library:/library
      - /mnt/media/media:/media
    restart: unless-stopped

  booklore-mariadb:
    image: lscr.io/linuxserver/mariadb:11.4.5
    container_name: booklore-mariadb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Etc/UTC
      - MYSQL_ROOT_PASSWORD=super_secure_password # Use a strong password for the database's root user, should be different from MYSQL_PASSWORD
      - MYSQL_DATABASE=booklore
      - MYSQL_USER=booklore # Must match DATABASE_USERNAME defined in the booklore container
      - MYSQL_PASSWORD=your_secure_password # Use a strong password; must match DATABASE_PASSWORD defined in the booklore container
    volumes:
      - /srv/media/config/booklore/mariadb/config:/config
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    user: "${PUID}:${PGID}"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /srv/media/config/sonarr:/config
      - /mnt/media/library:/library
      - /usr/local/bin:/usr/local/bin
      - /mnt/media/library/downloads:/downloads # keep this so it understands what sabnzbd sees
    ports:
      - "8989:8989"
    restart: always

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    user: "${PUID}:${PGID}"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - /usr/local/bin:/usr/local/bin
      - /srv/media/config/radarr:/config
      - /mnt/media/library:/library
      - /mnt/media/library/downloads:/downloads # keep this so it understands what sabnzbd sees
    ports:
      - "7878:7878"
    restart: always

  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=${TZ}
    ports:
      - "${PORT:-8191}:8191"
    restart: always 

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /srv/media/config/prowlarr:/config
    ports:
      - "9696:9696"
    restart: always

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    ports:
      - 5055:5055
    environment:
      - LOG_LEVEL=info
    volumes:
      - /srv/media/config/jellyseer:/app/config
    restart: always

  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    ports:
      - "6767:6767"
    user: "${PUID}:${PGID}"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /srv/media/config/bazarr:/config
      - /mnt/media/library:/library
    restart: always

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    ports:
      - "9100:9100"
    pid: "host"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($|/)'

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    command:
      - --housekeeping_interval=15s
      - --max_housekeeping_interval=15s
      - --global_housekeeping_interval=15s
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true  # required for some metrics

