# vim: ft=systemd

[Unit]
Description=Stop containers at {{ docker_quiet_hours_start_hour }}:00, retry every 15 minutes during quiet hours

[Timer]
# Midnight - 08:00 (00:xx .. end), every 15 min:
OnCalendar=*-*-* {{ docker_quiet_hours_start_hour }}..{{ docker_quiet_hours_try_until_hour }}:0/15:00 Europe/Amsterdam

Persistent=false
Unit=docker-sleep@stop.service

[Install]
WantedBy=timers.target
