# vim: ft=systemd

[Unit]
Description=Gracefully stop %i Docker containers
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-sleep.sh stop

Environment=QUIET_HOURS_START={{ docker_quiet_hours_start }}
Environment=QUIET_HOURS_END={{ docker_quiet_hours_end }}

Environment=QUIET_LOG_LEVEL=debug
Environment=QUIET_CMD_TIMEOUT_S=15
Environment=QUIET_RETRIES=3
Environment=QUIET_RETRY_DELAY_S=2
Environment=DOCKER_STOP_TIMEOUT_S=30

Environment=KUMA_URL="{{ uptime_kuma_url }}"
Environment=KUMA_USERNAME="{{ uptime_kuma_user }}"
Environment=KUMA_PASSWORD="{{ vault_uptime_kuma_password }}"
Environment=KUMA_INSECURE=0
Environment=KUMA_MAP_FILE=/etc/sleep-hours/kuma.map

Environment=GRACE_DIR=/usr/local/lib/sleep-hours/plugins

Environment=BUSY_CPU_PCT=2.0
Environment=IO_SAMPLE_S=5
Environment=BUSY_READ_BPS=65536
Environment=BUSY_WRITE_BPS=65536
