# vim: ft=yaml
# infra_vm/templates/docker-compose.yml

---
services:

  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/infra_stack/homarr/data:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=a7a77967880087c2a669cdea49b4f8866c18105bfa11a71ff61f16d003a36898
    ports:
      - '7575:7575'

  grafana:
    image: grafana/grafana-oss
    ports:
      - "3000:3000"
    volumes:
      - /opt/infra_stack/grafana/data:/var/lib/grafana
      - "{{ docker_compose_dir }}/custom/grafana.ini:/etc/grafana/grafana.ini:ro"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - /opt/infra_stack/prometheus/data:/prometheus
      - ./prometheus:/etc/prometheus:ro
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter
    ports:
      - "9100:9100"
    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    ports:
      - "8080:8080"
    restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma
    ports:
      - "3001:3001"
    volumes:
      - /opt/infra_stack/uptime_kuma/data:/app/data
    restart: unless-stopped

  dozzle:
    image: amir20/dozzle
    ports:
      - "9999:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce
    ports:
      - "9000:9000"
    volumes:
      - /opt/infra_stack/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
