site_name: Home Server Documentation
site_url: https://docs.itsa.pizza

theme:
  name: material
  palette:
    primary: green
  features:
    - content.code.copy
    - navigation.instant
    - navigation.indexes 
    - navigation.tracking
    - navigation.top

markdown_extensions:
  - admonition
  - toc
  - tables

plugins:
  - search

nav:
  - UPS: ups.md
  - SystemD: systemd.md
  - Key Server: key_server.md
  - Adguard + Unbound: adguard-unbound.md
  - Cloudflared: cloudflared.md
  - HDDs: disks.md
  - iperf3-speedtest: iperf3-speedtest.md
  - media_vm + qbittorrent: media_vm_qbittorrent.md
  - TrueNAS: truenas.md
  - Shares - NFS, SMB: shares.md
