# vim: ft=yaml
site_name: Home Server Documentation
site_url: https://docs.{{ primary_domain_name }}
theme:
  name: material
  palette:
    primary: green
  features:
    - content.code.copy
    - navigation.instant
    - navigation.indexes
    - navigation.tracking
    - navigation.top
markdown_extensions:
  - admonition
  - toc
  - tables
plugins:
  - search
nav:
  - Tailscale: tailscale.md
  - Paperless: paperless.md
  - Traefik: traefik.md
  - Share Drive Management (NFS, SMB): share_drives_nfs_smb.md
  - Build commands: ansible_build_commands.md
  - Shell Environment: shell_environment.md
  - HDDs: disks.md
  - Quiet Hours: quiet_hours.md
  - River: river.md
  - SystemD: systemd.md
  - Monitor NFS and SMB mounts: monitor_nfs_smb_mounts.md
  - TrueNAS: truenas.md
  - UPS: ups.md
  - Key Server: key_server.md
  - Adguard + Unbound: adguard-unbound.md
  - Cloudflare API: cloudflare-api.md
  - Cloudflared: cloudflared.md
  - Domain Migration: domain-migration.md
  - iperf3-speedtest: iperf3-speedtest.md
  - Immich: immich_lxc.md
  - Media VM: media_vm.md
  - MikroTik Exporter: mikrotik-exporter.md
  - Navidrome: navidrome.md
  - NanoClaw: agent.md
