# vim: ft=yaml
# traefik_lxc/templates/providers.yml

---

http:
  routers:
    atuin:
      rule: "Host(`traefik.itsa.pizza`) && PathPrefix(`/atuin`)"
      entryPoints:
        - traefik
      service: atuin_service
      middlewares:
        - strip-atuin-prefix@file
      tls: false

  middlewares:
    strip-atuin-prefix:
      stripPrefix:
        prefixes:
          - "/atuin"

  services:
    atuin_service:
      loadBalancer:
        servers:
          - url: "http://192.168.2.106:8888"
        passHostHeader: false
