# traefik_lxc/files/traefik/dynamic/routers.yml
# vim: ft=yaml

http:
  routers:
    immich:
      rule: Host(`immich.itsa.pizza`)
      entryPoints: [web]
      service: immich-svc
      priority: 100 # outrank generic rules
      middlewares:
        - force-https-proto
        - security-headers
    immich-auth:
      rule: Host(`immich.itsa.pizza`) && ( PathPrefix(`/api/auth`) || PathPrefix(`/auth`) || PathPrefix(`/api/oauth`) || PathPrefix(`/oauth`) )
      entryPoints: [web]
      service: immich-svc
      priority: 200
      middlewares:
        - force-https-proto
        - security-headers
        - immich-login-rl
    jelly:
      rule: Host(`jelly.itsa.pizza`)
      entryPoints: [web]
      service: jelly-svc
      middlewares:
        - force-https-proto
        - security-headers
        - jelly-login-rl
    traefik-ip:
      rule: Host(`192.168.2.108`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: [web]
      service: api@internal
      priority: 600
      middlewares:
        - local-only
        - security-headers # optional; remove if it causes UI issues
    traefik-api-local:
      rule: Host(`traefik.itsa.pizza`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      entryPoints: [web]
      service: api@internal
      priority: 500
      middlewares:
        - local-only
        - security-headers
    traefik-dash:
      rule: Host(`traefik.itsa.pizza`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: [web]
      service: api@internal
      middlewares:
        - security-headers
  services:
    immich-svc:
      loadBalancer:
        servers:
          - url: "http://192.168.2.113:2283"
        passHostHeader: true
    jelly-svc:
      loadBalancer:
        servers:
          - url: "http://192.168.2.110:8096"
        passHostHeader: true
  middlewares:
    local-only:
      ipAllowList:
        sourceRange:
          - 192.168.0.0/16
          - 10.0.0.0/8
          - 172.16.0.0/12
          - 127.0.0.1/32
    force-https-proto:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
    immich-login-rl:
      rateLimit:
        average: 200 # tokens added per period
        period: 1s # refill period (v3 style)
        burst: 300 # allow short spikes (JS chunk bursts, parallel requests)
    jelly-login-rl:
      rateLimit:
        average: 60
        burst: 30
    security-headers:
      headers:
        referrerPolicy: "strict-origin-when-cross-origin"
        contentTypeNosniff: true
        browserXssFilter: true
        frameDeny: true
