# vim: ft=yaml

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: false
      trustedIPs:
        - 192.168.2.101/32 # Only your cloudflared container
        - 127.0.0.1/32 # Localhost
        # - 192.168.0.0/16  # anything on local network
        # - 10.0.0.0/8      # bigger LANs
        # - 172.16.0.0/12   # dont know
    transport:
      respondingTimeouts:
        readTimeout: 600s
        idleTimeout: 600s
        writeTimeout: 600s

api:
  dashboard: true
  insecure: true

metrics:
  prometheus:
    addRoutersLabels: true

log:
  level: INFO

accessLog: {}

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

# If any backend uses a self-signed cert (when you later switch to HTTPS backends),
# define a transport you can opt into per-service:
serversTransport:
  insecureSkipVerify: true
