# vim: ft=yaml
# prometheus.yml.j2

---

global:
  scrape_interval: 15s  # default interval for scraping targets

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 15s
    scrape_timeout: 15s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    scrape_interval: 15s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:18080']
        labels:
          instance: proxmox
      - targets: ['192.168.2.105:18080']
        labels:
          instance: media_vm
      - targets: ['192.168.2.106:8080']
        labels:
          instance: infra_vm
      - targets: ['192.168.2.110:8080']
        labels:
          instance: jellyfin_lxc
      - targets: ['192.168.2.113:8080']
        labels:
          instance: immich_lxc

  - job_name: 'node-exporter'
    scrape_interval: 15s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:9100']
        labels:
          instance: proxmox
      - targets: ['192.168.2.105:9100']
        labels:
          instance: media_vm
      - targets: ['192.168.2.106:9100']
        labels:
          instance: infra_vm
      - targets: ['192.168.2.104:9100']
        labels:
          instance: truenas

  - job_name: 'home-assistant'
    scrape_interval: 15s
    scrape_timeout: 15s
    metrics_path: /api/prometheus
    scheme: http
    authorization:
      type: Bearer
      credentials: "{{ vault_home_assistant_token }}"
    static_configs:
      - targets: ['192.168.2.102:8123']
        labels:
          instance: home-assistant

  - job_name: 'unbound'
    static_configs:
      - targets: ['192.168.2.111:9167']
        labels:
          instance: unbound

  - job_name: 'FastAPI'
    scrape_interval: 60s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.201:8001']
        labels:
          instance: key-server

  - job_name: 'ipmi'
    metrics_path: /metrics
    scrape_interval: 60s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:9290']
        labels:
          instance: proxmox

  - job_name: 'smart_ctl'
    scrape_interval: 15s
    scrape_timeout: 15s
    static_configs:
      - targets: ['192.168.2.214:9633']
        labels:
          instance: proxmox
      - targets: ['192.168.2.104:9633']
        labels:
          instance: truenas

  - job_name: 'pve-exporter'
    metrics_path: /pve
    scrape_interval: 15s
    scrape_timeout: 15s
    params:
      module: [default]
      cluster: ['1']
      node: ['1']
    static_configs:
      - targets: ['192.168.2.214:9221']
        labels:
          instance: proxmox

  - job_name: 'disk_power_exporter'
    metrics_path: /metrics
    scrape_interval: 60s
    scrape_timeout: 30s
    static_configs:
      - targets: ['192.168.2.104:9635']
        labels:
          instance: truenas
      - targets: ['192.168.2.214:9635']
        labels:
          instance: proxmox
