# Yazi configuration for {{ ansible_hostname }}
# Managed by Ansible - shell_environment role
# User: {{ item.split(':')[0] }}

[manager]
# Show hidden files by default
show_hidden = true

[preview]
# Image preview settings
tab_size = 2
max_width = 600
max_height = 900
image_filter = "triangle"
image_quality = 75
