# vim: ft=yaml
# jellyfin_lxc/files/docker-compose.yml

---

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - --housekeeping_interval=15s
      - --max_housekeeping_interval=15s
      - --global_housekeeping_interval=15s
    privileged: true  # required for some metrics

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    environment:
      LOKI_WRITE_ENDPOINT: "http://192.168.2.106:3100/loki/api/v1/push"
      NODE_HOSTNAME: "prometheus"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./alloy:/etc/alloy:ro 
    command: >
      run --server.http.listen-addr=0.0.0.0:12345
      --storage.path=/var/lib/alloy/data
      /etc/alloy/config.alloy
    ports:
      - "12345:12345"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    network_mode: "host" 
    user: "65534:65534"
    environment:
      - TZ=Europe/Amsterdam
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus:ro
      - /srv/apps/prometheus/data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.size=12GB"
      - "--storage.tsdb.retention.time=100d"
    restart: always
