# vim: ft=yaml
# paperless_lxc/files/docker-compose.yml
services:

  paperless-db:
    container_name: paperless-db
    image: docker.io/library/postgres:17
    restart: always
    volumes:
      - "{{ docker_compose_dir }}/paperless/pgdata:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U paperless -d paperless"]
      interval: 10s
      timeout: 5s
      retries: 5

  paperless-webserver:
    container_name: paperless-webserver
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ paperless_version }}
    restart: always
    depends_on:
      paperless-db:
        condition: service_healthy
      paperless-broker:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - "{{ docker_compose_dir }}/paperless/data:/usr/src/paperless/data"
      - "/mnt/nfs/paperless/media:/usr/src/paperless/media"
      - "/mnt/nfs/paperless/export:/usr/src/paperless/export"
      - "/mnt/nfs/paperless/consume:/usr/src/paperless/consume"
    env_file: .env
    environment:
      PAPERLESS_REDIS: redis://paperless-broker:6379
      PAPERLESS_DBHOST: paperless-db
      PAPERLESS_TRAIN_TASK_CRON: "*/20 10-20 * * *"
      PAPERLESS_INDEX_TASK_CRON: "*/20 10-20 * * *"
      PAPERLESS_SANITY_TASK_CRON: "0 11 * * 1"
      PUID: ${PUID}
      PGID: ${PGID}
      USERMAP_UID: ${PUID}
      USERMAP_GID: ${PGID}
      TZ: ${TZ}

  paperless-broker:
    container_name: paperless-broker
    image: docker.io/library/redis:8
    restart: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - "{{ docker_compose_dir }}//paperless/redisdata:/data"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  node_exporter:
    image: quay.io/prometheus/node-exporter:{{ node_exporter_version }}
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
      - '--collector.textfile'
      - '--collector.textfile.directory=/textfile'
    ports:
      - "9100:9100"
    # pid: host # not needed if we mount `/:/host` and use `--path.rootfs=/host`
    # network_mode: host # this exposes the default service port (9100) on all interfaces. too broad, we only want it accessible by prom.
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
      - '/var/lib/node_exporter/textfile_collector:/textfile:ro'

  alloy:
    image: grafana/alloy:{{ alloy_version }}
    container_name: alloy
    restart: unless-stopped
    environment:
      LOKI_WRITE_ENDPOINT: "http://192.168.2.106:3100/loki/api/v1/push"
      NODE_HOSTNAME: "paperless"
      LOG_LEVEL: "warn"
    volumes:
      # config 
      - ./alloy:/etc/alloy:ro
      # docker 
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # journalctl  
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
    command: >
      run --server.http.listen-addr=0.0.0.0:12345 --stability.level=experimental --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy

    ports:
      - "12345:12345"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:{{ cadvisor_version }}
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    volumes:
      - /:/rootfs:ro
      - /sys:/sys:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /var/run:/var/run:ro
    privileged: false # required for some metrics, but `true` makes it scan /dev/** and in an LXC /dev/series/by-id does not exist.
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
