# vim: ft=yaml
# paperless_lxc/files/docker-compose.yml

---

services:
  # node exporter is running outside docker.
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true  # required for some metrics

  paperless-broker:
    container_name: paperless-broker
    user: "${PUID}:${PGID}"
    image: docker.io/library/redis:8
    restart: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - "{{ docker_compose_dir }}//paperless/redisdata:/data"

  paperless-db:
    container_name: paperless-db
    image: docker.io/library/postgres:17
    restart: always
    volumes:
      - "{{ docker_compose_dir }}/paperless/pgdata:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}

  paperless-webserver:
    container_name: paperless-webserver
    # user: "${PUID}:${PGID}"
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: always
    depends_on:
      - paperless-db
      - paperless-broker
    ports:
      - "8000:8000"
    volumes:
      - "{{ docker_compose_dir }}/paperless/data:/usr/src/paperless/data"
      - "/mnt/paperless/media:/usr/src/paperless/media"
      - "/mnt/paperless/export:/usr/src/paperless/export"
      - "/mnt/paperless/consume:/usr/src/paperless/consume"
    env_file: .env
    environment:
      PAPERLESS_REDIS: redis://paperless-broker:6379
      PAPERLESS_DBHOST: paperless-db
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
