# vim: ft=yaml
# paperless_lxc/files/docker-compose.yml

---

services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
      - '--collector.textfile'
      - '--collector.textfile.directory=/textfile'
    network_mode: host
    ports:
      - "9100:9100"
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
      - '/var/lib/node_exporter/textfile_collector:/textfile:ro'

  # promtail:
  #   image: grafana/promtail:latest
  #   container_name: promtail
  #   command: -config.file=/etc/promtail/config.yml 
  #   restart: unless-stopped
  #   volumes:
  #     # Your config + positions
  #     - ./promtail/config.yml:/etc/promtail/config.yml:ro
  #     - promtail_positions:/var/lib/promtail
  #     # Required for the docker job:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - /var/lib/docker/containers:/var/lib/docker/containers:ro
  #     # Required for the journal job:
  #     - /var/log/journal:/var/log/journal:ro
  #     - /run/log/journal:/run/log/journal:ro
  #     - /etc/machine-id:/etc/machine-id:ro
  #   ports:
  #     - 9080:9080
  #     - 1514:1514
  #     - 1514:1514/udp

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    environment:
      LOKI_WRITE_ENDPOINT: "http://192.168.2.106:3100/loki/api/v1/push"
      NODE_HOSTNAME: "paperless"
    volumes:
      # config 
      - ./alloy:/etc/alloy:ro 
      # docker 
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # journalctl  
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
    command: >
      run --server.http.listen-addr=0.0.0.0:12345
      --storage.path=/var/lib/alloy/data
      /etc/alloy/config.alloy
    ports:
      - "12345:12345"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  paperless-db:
    container_name: paperless-db
    image: docker.io/library/postgres:17
    restart: always
    volumes:
      - "{{ docker_compose_dir }}/paperless/pgdata:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}

  paperless-webserver:
    container_name: paperless-webserver
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: always
    depends_on:
      - paperless-db
      - paperless-broker
    ports:
      - "8000:8000"
    volumes:
      - "{{ docker_compose_dir }}/paperless/data:/usr/src/paperless/data"
      - "/mnt/nfs/paperless/media:/usr/src/paperless/media"
      - "/mnt/nfs/paperless/export:/usr/src/paperless/export"
      - "/mnt/nfs/paperless/consume:/usr/src/paperless/consume"
    env_file: .env
    environment:
      PAPERLESS_REDIS: redis://paperless-broker:6379
      PAPERLESS_DBHOST: paperless-db
      PAPERLESS_TRAIN_TASK_CRON: "*/60 10-20 * * *"
      PAPERLESS_INDEX_TASK_CRON: "*/60 10-20 * * *"
      PUID: ${PUID}
      PGID: ${PGID}
      USERMAP_UID: ${PUID}
      USERMAP_GID: ${PGID}
      TZ: ${TZ}

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - --housekeeping_interval=15s
      - --max_housekeeping_interval=15s
      - --global_housekeeping_interval=15s
    privileged: true  # required for some metrics

  paperless-broker:
    container_name: paperless-broker
    image: docker.io/library/redis:8
    restart: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - "{{ docker_compose_dir }}//paperless/redisdata:/data"

volumes:
  promtail_positions: {}
