# vim: ft=yaml
# music_lxc/templates/docker-compose.yml.j2

services:

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: always
    user: "{{ puid }}:{{ guid }}"
    ports:
      - "4533:4533"
    volumes:
      - /srv/apps/navidrome/data:/data
      - /mnt/nfs/music:/music:ro
    environment:
      - TZ={{ TZ }}
      - ND_SCANSCHEDULE=@every 1h
      - ND_LOGLEVEL=info
      - ND_SESSIONTIMEOUT=24h
      - ND_MUSICFOLDER=/music
      - ND_DATAFOLDER=/data
      - ND_ENABLETRANSCODINGCONFIG=true
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:4533/ping"]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  feishin:
    image: 'ghcr.io/jeffvli/feishin:latest'
    container_name: feishin
    restart: unless-stopped
    environment:
      - SERVER_NAME=our-music # pre-defined server name
      - SERVER_LOCK=true # When true AND name/type/url are set, only username/password can be toggled
      - SERVER_TYPE=navidrome # the allowed types are: jellyfin, navidrome, subsonic. These values are case insensitive
      - SERVER_URL=https://navidrome.{{ primary_domain_name }} # http://address:port or https://address:port
      - LEGACY_AUTHENTICATION=false # When SERVER_LOCK is true, sets the legacy (plaintext) authentication flag for Subsonic/OpenSubsonic servers
      - ANALYTICS_DISABLED=true # Set to true to disable Umami analytics tracking
    ports:
      - 9180:9180

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    environment:
      LOKI_WRITE_ENDPOINT: "http://192.168.2.106:3100/loki/api/v1/push"
      NODE_HOSTNAME: "music"
      LOG_LEVEL: "warn"
    volumes:
      # config
      - ./alloy:/etc/alloy:ro
      # docker
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # journalctl
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
    command: >
      run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    ports:
      - "12345:12345"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
      - '--collector.textfile.directory=/textfile'
    ports:
      - "9100:9100"
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
      - '/var/lib/node_exporter/textfile_collector:/textfile:ro'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "18080:8080"
    volumes:
      - /:/rootfs:ro
      - /sys:/sys:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /var/run:/var/run:ro
    privileged: false
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
