/* keep */

#inner_wrapper {
  background-color: #FFFFFF; 
}

.service-title:has(.service-name:empty) {
  display: none;
  height: 0;
  padding: 0;
  overflow: hidden; 
}

.service-card {
  background-color: #FFFFFF; 
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  border-radius: 0.5rem;
  margin: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.service-block div {
  color: #000000; 
  font-weight: 600;
}

.service-name {
  font-weight: 700;
  font-size: 1rem;
}

.service-name p {
  font-weight: 600;
  font-size: 0.85rem;
}

[id^="headlessui-"] {
  margin-bottom: 1.0rem;
}

div.service-tag div div {
  font-size: 14px !important;
  font-weight: 600;
}

#myTab li button {
  border: 2px solid black !important;
}
