[Unit]
Description=Retry mount for {{ item.mountpoint }} ({{ item.name }})

[Timer]
OnBootSec=30s
OnUnitActiveSec=2min
Unit=mount-nfs-{{ item.name }}.service
Persistent=true

[Install]
WantedBy=timers.target
