[Unit]
Description=Mount NFS {{ item.mountpoint }} ({{ item.name }})
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# Wait a little for NAS to be reachable
ExecStartPre=/bin/sh -c 'for i in 1 2 3 4 5 6; do ping -c1 -W1 {{ ((":" in item.target) | ternary(item.target, truenas_ip ~ ":" ~ item.target) | split(":") | first) }} >/dev/null 2>&1 && exit 0; sleep 5; done; exit 0'
ExecStart=/usr/bin/mount {{ item.mountpoint }}
RemainAfterExit=yes
ExecStop=/usr/bin/umount {{ item.mountpoint }}

[Install]
WantedBy=multi-user.target
