# vim: ft=systemd

[Unit]
Description=Begin pausing media containers at {{ docker_quiet_hours_start_hour }}:00 and retry periodically during quiet hours

[Timer]
# Evening (start .. 23:xx), every 15 min:
OnCalendar=*-*-* {{ docker_quiet_hours_start_hour }}..23:0/15:00 Europe/Amsterdam

# After midnight (00:xx .. end), every 15 min:
OnCalendar=*-*-* 00..{{ docker_quiet_hours_end_hour }}:0/15:00 Europe/Amsterdam

Persistent=false
Unit=docker-sleep@pause.service

[Install]
WantedBy=timers.target
